body {
    font-family: Arial, sans-serif;
    background-color: #f7e6db;
    color: #201713;
    text-align: center;
}

h1 {
    color: #c4927c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}
